.blog-hearder{
    
    padding: 25px;
    .navbar{
       display:flex;
       justify-content:space-between;
       font-size:x-large;
       background-color: white;
    }
    .link{
        font-size:19px;
       
    }
    


}